.cart-container{
    margin: 50px auto;
    padding: 50px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #fff;
    width: 50%;
    text-align: center;
}

.cart-list{
    text-decoration: none;
    list-style: none;
}

.cart-item{
    text-align: left;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.buy-cart-btn{
    margin: 10px;
    padding: 20px;
    width: 40%;
    color: #323a46;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(81, 122, 255, 0.90);
    box-shadow: 0 0 0 0, 0 0 0 0;
    border: 1px solid;
}


.clear-cart-btn{
    margin: 10px;
    padding: 20px;
    width: 40%;
    color: #323a46;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(81, 122, 255, 0.90);
    box-shadow: 0 0 0 0, 0 0 0 0;
    border: 1px solid;
}