.top-bar{
    padding-top: 10px;
    font-size: 30px;
    width: 100%;
    height: 60px;
    background-color: rgb(61, 139, 228);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.top-bar a{
    padding: 0 10px;
}
.top-bar a:hover{
    cursor: pointer;
}

