.edit-list{
    list-style: none;
}
.manage h1{
    text-align: center;
}

.edit-list li{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid rgb(217, 214, 214);
}


.buttons button{
    margin: 0 5px;
}


.no-btn-style{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.exclude-button{
    color: red;
}